// Color palette
$--pink-primary: #F71963;
$--black: #2A2A2A;
$--white: #FFF;
$--white-1: #f6f5f2;
$--white-2: #dedede;
$--ice: #F4F4F4;
$--gray: #bdbdbd;
$----gray-1: #9F9F9F;
$----gray-2: #4E4E4E;
$--blurred-black: rgba(0, 0, 0, 0.54);
$--dark-blue: #041E50;


// Font-size
$bigTitle: 48px;
$title: 36px;
$subtitle: 30px;
$medium_title: 20px;
$small_title: 18px;
$bigText: 16px;
$description: 15px;
$text: 14px;
$small_text: 12px;
$x_small_text: 10px;