@import '../../styles/sass/main.scss';

.footer {
  display: flex;
  background-color: $--black;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  outline: auto;
  align-items: center;

  p {
    color: $--white;
    font-size: $x_small_text;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
  }

  img {
    width: 227px;
    height: 32px;
  }
}